{%extends 'base.html'%} {% load static %} {% load bootstrap4 %} {% block content %}

{% with request.user.wewe.neighborhood as currenthood %}
{% if currenthood %}
<h2 style="vertical-align: middle"><strong>{{currenthood.name}}</strong></h2>

<strong>{{ currenthood.members.count }} members</strong>

<div><i>{{ currenthood.description | striptags }}</i></div>

<a href="{% url 'new_alert'%}" class="btn btn-info btn-outline">New Post</a>

{% for alert in currenthood.alerts.all %}
New alerts
<p>{{alert.alert}}</p>
{% endfor%}

<a href="{% url 'add_business'%}" class="btn btn-info btn-outline">Add Business</a>


{% for business in currenthood.businesses.all %}
THis is nonsense
<!-- {% if business%} -->
<p>Name : {{business.name}}</p>
<p>{{business.propreiter.username}} as business owner </p>
<!-- {% else %}
<p>This hood has no business</p>
{% endif %} -->
{% endfor%}
{% else%}
<h3>{% with request.user as name%}
  {{name.username}} you are currently not subscribed to any Neighborhood <br>
  Please Join a hood <br>
{% endwith%}
</h3>
{%endif%}
{% endwith %}

{% endblock %}
