{%extends 'base.html'%} {% load static %} {% load bootstrap4 %} {% block content %}
<div class="container" style="margin-top:120px;">
  <div class="row">
    <div class="col-md-4"></div>

  <h3> <a href="{%url 'current_hood'%}" class="btn btn-info btn-outline" style="margin:10px;">My Hood</a></h3>
<h3>
  <a href="{% url 'add_neighborhood'%}" class="btn btn-info btn-outline" style="margin:10px;">Create Hood</a>

</h3>


    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
{% for hood in nhoods%}

        <div class="card" style="height:360px;width:400px;;margin:30px;">
          <div class="card-body">
                <div class="img-cont">
                  <img class="card-img-top img-responsive i-images" src="{{hood.photo.url}}" style="height:160px;">
                  <div class="overlay">
                  <div class="text">{{hood.name}}</div>
                  {% autoescape off %}

                  <!-- <div class="text">{{hood.description}}</div> -->
                  {% endautoescape %}
                  <div class="text">Members : {{hood.members.count}}</div>
<br>
                  <a href="{% url 'join_hood' id=hood.id%}" class="btn btn-info btn-block">Join Hood</a>

                  <!-- <a href="{% url 'exit_hood' id=hood.id%}" class="btn btn-danger btn-block">Exit Hood</a> -->

        </div>
                </div>


          </div>

        </div>
{% endfor %}

  </div>
</div>


{% endblock %}
